@charset "ISO-8859-1";

body{
	margin: 0;
	padding: 0;
	text-align: center;
	/* display: grid; */
}


#email_required{
	color: lightgreen;
	display: none;
}

#password_required_length{
	color: lightgreen;
	display: none;
}

#email{
	margin: 20px auto 0px auto;
}
#password{
	margin: 10px auto 0px auto;
}
#create_button{
	display: block;
	margin: 20px auto 0px auto;
}

#create_form{    
	width: 300px;
	height: auto;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 auto;
}

/* #create_box{
	display: grid;
    width: 300px;
	height: 200px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 auto;
} */

