@charset "ISO-8859-1";


body{
	margin: 0;
	padding: 0;
	text-align: center;
	display: grid;
}

#word{
	color: red;
}

#password1, #password2{
	margin: 5px auto;
}

#password_error1, #password_error2, #no_match_error{
	display: none;
}

.email{
	display: none;
}

#reset_submit{
	margin: 5px 0px 10px 0px;
}

/* #password_box{
	justify-self: center;
} */