@charset "ISO-8859-1";

body{
	margin: 0;
	padding: 0;
	text-align: center;
	display: grid;
}

#password_box{
	width: 260px;
	height: auto;
	border: 1px solid black;
	border-radius: 5px;
	justify-self: center;
}

#reset{
	margin-bottom: 30px;
}

#email_error{
	color: lightgreen;
	margin-bottom: 20px;
}