@charset "ISO-8859-1";

body{
	margin: 0;
	padding: 0;
	text-align: center;
	/* caret-color: transparent; */
}

.Information_table{
	display: inline-block;
	color: blue;
}

/* .title{
	display: inline-block;
	color: blue;
}

.home{
	width: 100px;
	height: 20px;
	border: 1px solid orange;
	display: inline-block;
	border-radius: 5px;
	text-decoration: none;
}

.Information_table{
	display: inline-block;
	color: orange;
}

.table_data{
	display: inline-block;
}

td, input{
	color: orange;
	padding: 10px;
	font-family: kristen itc;
	text-align: left;
}

input:hover {
	caret-color: black;
}

td{
	font-size: 30px;
	
}

input{
	font-size: 16px;
	background: white;
	cursor: pointer;
}

.infomation_table_small{
	display: none;
} */

.updateInformation {
	display: none;
	font-size: 18px;
	color: lightgreen;
}

/* @media only screen and (max-width: 500px){
	
	td, input{
	  display: block;
	}
	
	.submitButton{
	margin: 0 auto;
	width: 200px;
	}

	} */