@charset "ISO-8859-1";

body{
	margin: 0;
	padding: 0;
	text-align: center;
}


#email{
	display: block;
	margin: 20px auto 0px auto;
	
}
#password{
	display: block;
	margin: 10px auto 20px auto;
}

#create_button, #create_account{
	margin: 20px auto 10px auto;
	display: block;
}
#forgotten_password{
	margin: 10px auto 30px auto;
	display: block;
}

#sign_in_box{
	width: 240px;
	height: auto;
	border: 1px solid black;
	border-radius: 5px;
	margin: 20px auto;
}

#error{
	margin: 20px 0px 10px 0px;
	color: lightgreen; 
}